@use "src/styles/_vars";

.input {
  padding: 0.8rem 1.2rem;
  margin: 0;
  width: 100%;
  border-width: 0;
  border-bottom: 2px solid desaturate(vars.$secondaryColor, 50%);
  border-radius: 6px 0 0 6px;
  font-size: 1.5rem;
}
