@use "src/styles/_vars";

.input {
  padding: 0.8rem 1rem;
  margin: 0;
  min-width: 310px;
  border-width: 0;
  border-bottom: 2px solid desaturate(vars.$secondaryColor, 50%);
  border-radius: 6px;
  font-size: 1.5rem;
  text-align: center;
}
