@use "src/styles/_vars";

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: vars.$textColor;
  text-shadow: 0 1px 0 vars.$secondaryColor;
}

.main {
  font-size: 1.5rem;
}
